<% include partials/header %>

<div class="container">
        <h1>This is Authentication Demo!</h1>
        <div>
            <a class="btn btn-primary" href="/register">Sign Up here!</a>
            <a class="btn btn-success" href="/login">Log In here!</a>
        </div>
</div>



<% include partials/footer %>
