<% include partials/header %>
<div style="margin-top: 25px;">
    <div class="container">
        <div style="border: 1px solid grey">
            <div style="padding: 10px;">
                <h1>This is Authentication Demo!</h1>
                <a class="btn btn-primary" href="/register">Sign Up here!</a>
                <a class="btn btn-success" href="/login">Log In here!</a>
                <a class="btn btn-danger" href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>