<% include partials/header %>
    <div style="margin-top: 25px;">
        <div class="container">
            <div style="border: 1px solid grey">
                <div style="padding: 10px;">
                    <h1 style="color: green;">You are successfully
                        <b>Logged In</b>
                    </h1>
                    <a class="btn btn-danger" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>